# --- Frontend Web (Plantilla) ---
PORT=8000
NODE_ENV=development

# --- API ---
# Local: http://localhost:3000
# Prod: https://projects.kore29.com/iter/api
NEXT_PUBLIC_API_URL="http://localhost:3000"
