@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: Inter;
  }
  
  :root {
    --bg-page: #f7f8f9;
    --bg-surface: #ffffff;
    --bg-subtle: #f3f4f6;
    
    --text-primary: #111827;
    --text-secondary: #374151;
    --text-muted: #6b7280;
    --text-inverse: #ffffff;
    
    --border-subtle: #e5e7eb;

    --consorci-dark-blue: #00426b;
    --consorci-light-blue: #4197cb;
    --consorci-light-gray: #cfd2d3;
    --consorci-pink-red: #f26178;
    --consorci-beige: #e0c5ac;
    --consorci-yellow: #f9c311;
  }

  .dark {
    --bg-page: #171717;
    --bg-surface: #212121;
    --bg-subtle: #2f2f2f;
    
    --text-primary: #ececec;
    --text-secondary: #b4b4b4;
    --text-muted: #676767;
    --text-inverse: #ffffff;
    
    --border-subtle: #424242;
  }
}