# --- Backend API (Plantilla) ---
PORT=3000
NODE_ENV=development
API_PREFIX="" # Dejar vacío en local, /iter/api en prod

# --- PostgreSQL ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_DB=iter_db
DB_PORT=5432
# URL de conexión (Docker/Local)
DATABASE_URL="postgresql://postgres:root@db:5432/iter_db?schema=public"

# --- Seguridad ---
JWT_SECRET="cambiar_esto_por_secreto_seguro_en_prod"

# --- CORS ---
CORS_ORIGIN="http://localhost:3001,http://localhost:8002,https://projects.kore29.com"

# --- MongoDB Atlas ---
MONGODB_URI="mongodb+srv://user:<db_password>@cluster.mongodb.net/iter_db?retryWrites=true&w=majority"
MONGODB_DB_NAME="iter_db"
